@import "./reset.scss";

body {
  height: 100%;
  overflow: hidden;

  background-color: #444;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 100px;
}

canvas {
  border: 5px solid #000;
}
